<template>
<v-container fluid>
  <v-layout row wrap justify-center>  
    <v-flex md4>
    <v-card max-height="400px" class="human">
        <v-card-media
          :src="require('@/assets/mikaela.png')"
          height="400px"
        ></v-card-media>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Mikaela Cornejo</h3>
            <div>Web Developer</div>
            <v-list>
              <v-list-tile-content>
                <v-list-tile-title><v-icon small color="blue darken-2">home</v-icon> Davao City, Davao del Sur</v-list-tile-title>
                <v-list-tile-title><v-icon small color="blue darken-2">chat</v-icon> mikaela@infosoft.com</v-list-tile-title>
                <v-list-tile-title><v-icon small color="blue darken-2">phone</v-icon> 0999 888 7777</v-list-tile-title>
              </v-list-tile-content>
            </v-list>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn flat color="error" depressed>Archive</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-divider
      class="mx-2"
      inset
      vertical
    ></v-divider>
    <v-flex md7>
      <v-tabs
      v-model="active"
      light
      slider-color="blue darken-2"
    >
      <v-tab
        v-for="(item, index) in 4"
        :key="index"
        ripple
      >
       
        {{ index == 0 ? 'Employee Information' : index == 1 ? 'Earnings' : index == 2 ? 'Deduction' : 'Timeline'}}
      </v-tab>
      <v-tab-item
        v-for="(item, index) in 4"
        :key="index"
      >
        <v-card flat>
          <v-card-text>
            <v-card color="grey lighten-3" class="mb-5" height="540px" v-show="index === 0">
                  <v-card-title>
                    <span class="headline">Employee Information</span>
                  </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12>
                            <span class="grey--text">Full Name</span>
                            <v-text-field value="Mikaela Cornejo" readonly solo ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <span class="grey--text">SSS Number</span>
                            <v-text-field value="09-4080214-8"  readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <span class="grey--text">Department</span>
                            <v-text-field value="Info Tech Dept." readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <span class="grey--text">Employee Number</span>
                            <v-text-field value="--- --- ---" readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <span class="grey--text">TIN Number</span>
                            <v-text-field value="1211-7055-071" readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <span class="grey--text">Date Hired</span>
                            <v-text-field value="July 16, 2017" readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <span class="grey--text">Cash Card Number</span>
                            <v-text-field value="--- --- ---" readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <span class="grey--text">Working Days</span>
                            <v-text-field value="11" readonly solo></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <span class="grey--text">Employee Salary</span>
                            <v-text-field value="6000" readonly solo></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
            </v-card>
            <v-card color="grey lighten-3" class="mb-5" height="900px" v-show="index === 1">
              <v-card-title>
                <span class="headline">Earnings</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 sm6>
                      <span class="grey--text">Overtime Hours</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <span class="grey--text">Amount</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex lg12>
                      <v-card-title>
                        <span class="subheading" style="margin-left: -20px;">Regular Holiday</span>
                      </v-card-title>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">Hours</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">Overtime Hours</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">Amount</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex lg12>
                      <v-card-title>
                        <span class="subheading" style="margin-left: -20px;">Special Holiday</span>
                      </v-card-title>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">Hours</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">Overtime Hours</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">Amount</span>
                      <v-text-field label="Amount" value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex lg12>
                      <v-card-title>
                        <span class="subheading" style="margin-left: -20px;">Employer Contribution</span>
                      </v-card-title>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">SSS Premium</span>
                      <v-text-field value="190.75" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">PhilHealth Premium</span>
                      <v-text-field value="72.1875" readonly solo></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <span class="grey--text">HDMF Premium</span>
                      <v-text-field value="105.00" readonly solo></v-text-field>
                    </v-flex>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Total Benefits</span>
                    </v-card-title>
                    <v-flex xs12>
                      <span class="grey--text">Amount</span>
                      <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          <v-card color="grey lighten-3" class="mb-5" height="1040px" v-show="index === 2">
            <v-card-title>
              <span class="headline">Deduction</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <span class="grey--text">Absences</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">Amount</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">No. of Holidays</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                    </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">Amount</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">No. of Late(s)</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">Amount</span>
                    <v-text-field label="Amount" value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Employee Contribution</span>
                    </v-card-title>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">SSS Contribution</span>
                    <v-text-field value="65.40" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">PhilHealth Contribution</span>
                    <v-text-field value="72.1875" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">HDMF Contribution</span>
                    <v-text-field value="45.00" readonly solo></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span class="grey--text">Cash Advance</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-card-title>
                    <span class="subheading" style="margin-left: -20px;">Total Earnings:</span>
                  </v-card-title>
                  <v-flex xs12>
                    <span class="grey--text">Amount</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                  <v-card-title>
                    <span class="subheading" style="margin-left: -20px;">Total Deductions:</span>
                  </v-card-title>
                  <v-flex xs12>
                    <span class="grey--text">Amount</span>
                    <v-text-field value="--- --- ---" readonly solo></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
          <v-flex xs12 md12 v-show="index === 3">
            <v-card>
               <vc-timeline @story="onStory($event)" :data="timeline" />
            </v-card>
          </v-flex>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
    </v-flex>  
  </v-layout>
</v-container>
</template>
<script>
/* eslint-disable */
export default {
  data: () => {
    return {
        value: false,
        active: null,
        tab: null,
      editedItem: {
      name: " ",
      dept: " ",
      emp_id: " ",
      hired_on: " "
    },
    defaultItem: {
      name: " ",
      dept: " ",
      emp_id: " ",
      hired_on: " "
    },
      timeline: [
          {
            breakpoint: '2018',
            history: [{
            date: 'June 5',
            color: 'red',
            story: 'Happy birthday!',
            icon: 'cloud',
            title: 'Placeat Facere Possimus',
              importance: 2 // 1 or 2 - renders different story icon sizes
          }, 
          {
            date: 'October 15',
            color: 'orange',
            story: 'First day of work!',
            icon: 'dashboard',
            title: 'Doloribus Asperiores',
            importance: 1 // 1 or 2 - renders different story icon sizes
          }, 
          {
            date: 'November 5',
            color: 'orange',
            story: 'First day of work!',
            icon: 'dashboard',
            title: 'Doloribus Asperiores',
            importance: 1 // 1 or 2 - renders different story icon sizes
          }]
            },
         {
          breakpoint: '2017',
          history: [{
          date: 'May 5',
          color: 'pink',
          story: 'First day of work!',
          icon: 'home',
          title: 'Sit Amet',
          importance: 1
        }, 
          {
            date: 'June 5',
            color: 'orange',
            story: 'Happy birthday!',
            icon: 'dashboard',
            title: 'Doloribus Asperiores',
            importance: 1 // 1 or 2 - renders different story icon sizes
          },
        {
          date: 'February 28',
          color: 'pink',
          story: 'First day of work!',
          icon: 'bug_report',
          title: 'Ratione Voluptatem',
          importance: 2 // 1 or 2 - renders different story icon sizes
        }]
        },
        {
          breakpoint: '2016',
          history: [{
          date: 'May 24',
          color: 'deep-purple',
          story: 'First day of work!',
          icon: 'assessment',
          title: 'Asperiores Repellat',
          importance: 1 // 1 or 2 - renders different story icon sizes
          }, {
            date: 'June 5',
            color: 'orange',
            story: 'Happy birthday!',
            icon: 'dashboard',
            title: 'Doloribus Asperiores',
            importance: 1 // 1 or 2 - renders different story icon sizes
          },
          {
          date: 'April 26',
          color: 'orange',
          story: 'First day of work!',
          icon: 'android',
          title: 'Facere Possimus, Omnis Voluptas',
          importance: 1 // 1 or 2 - renders different story icon sizes
          }]
        }
      ],
      
// event binding
      onStory (data) {
        console.log('timeline story event data', data)
      }
    }
  },
  methods: {
      show(payload) {
          this.value = payload
      }
  }
}
</script>
<style>
.human{
  width: 25%;
  position: fixed;
}
</style>