<template>
  <v-container fluid>
    <h1>Payroll</h1>
      <v-layout column>
          <h4 class="border">Employee Info</h4>
        <v-layout row wrap>
          <v-flex>
            <v-autocomplete
              :items= "emp_name"
              v-model= "names"
              label= "Employee Name"
              item-text="name"
              single-line
              return-object 
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "emp_position"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : empPosition(names.emp_position)"
              label="Employee Position"
              :readonly="true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "date_hired"
              placeholder=" "
              v-bind:class= "names == null ? '' : hired(names.date_hired)"
              label= "Date Hired"
              :readonly= "true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "department"
              placeholder=" "
              label= "Department"
              v-bind:class= "names == null ? '' : dept(names.department)"
              :readonly="true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "pagibig_number"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : pagibigNum(names.pagibig_number)"
              label="PAG-IBIG No."
              :readonly="true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "sss_number"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : sssNum(names.sss_number)"
              label="SSS No."
              :readonly="true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "philhealth_number"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : philhealthNum(names.philhealth_number)"
              label="Philhealth No."
              :readonly="true"
            />
          </v-flex>
          
          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "emp_num"
              placeholder= "-----"
              label= "Employee No."
              v-bind:class= "names == null ? '' : empNum(names.emp_num)"
              :readonly="true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "tin_number"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : tinNum(names.tin_number)"
              label="Tin No."
              :readonly= "true"
            />
          </v-flex>
          
          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "cash_no"
              placeholder=" "
              v-bind:class= "names == null ? '' : cashNum(names.cash_no)"
              label="Cash Card No."
              :readonly="true"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "employee_salary_model"
              placeholder=" "
              label="Employee Rate Per Day"
              v-bind:class= "names == null ? '' : value(names.employee_rate_per_day)"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "working_days"
              placeholder=" "
              type="number"
              label="Working Days"
              v-bind:class= "names == null ? '' : dailyR(names.working_days)"
            />
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model="totalEmployeeSalary"
              placeholder=" "
              v-bind:class= "names == null ? '' : value(names.employee_rate_per_day)"
              label="Employee Salary"
              :disabled="true"
            />
          </v-flex>
        </v-layout>

        <v-layout row wrap >
          <v-flex lg6 md6 xs12>

            <H3 class="row border">Earnings</H3>
            
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="num_ot"
                  type="number"
                  label="No. of Overtime Hours"
                  placeholder="0"
                  id="testing"
                />
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "overtime_pay"
                  placeholder=" "
                  label="Amount"
                  id="testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex style= "padding: 5px;margin-top:-20px">
                Regular Holidays
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg3 md3 xs12 style= "padding: 5px;">
                <v-text-field
                  v-model= "reg_hour"
                  label="Hours"
                  type="number"
                  placeholder="0"
                  id="testing"
                />
              </v-flex>
          
              <v-flex lg3 md3 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "reg_ot"
                  placeholder="0"
                  type="number"
                  label= "OT Hours"
                  id= "testing"
                />
              </v-flex>

              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "regular_holidays_pay"
                  placeholder=" "
                  label= "Amount"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>

            <v-layout>
              <v-flex style="padding: 5px;margin-top:-20px">
                Special Holidays
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg3 md3 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "sp_hour"
                  type="number"
                  label="Hours"
                  placeholder="0"
                  id="testing"
                />
              </v-flex>
          
              <v-flex lg3 md3 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "sp_ot"
                  placeholder="0"
                  type="number"
                  label="OT Hours"
                  id="testing"
                />
              </v-flex>

              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "special_holiday_pay"
                  placeholder=" "
                  label= "Amount"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg12 md12 xs12>
                <b>Employer Contributions</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "sss_p"
                  placeholder=" "
                  v-bind:class= "names == null ? '' : sssPremium(names.sss_p)"
                  label= "SSS Premium"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
          
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "phil_health"
                  placeholder=" "
                  v-bind:class= "names == null ? '' : philhealth(names.phil_health)"
                  label= "Philhealth"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>

              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "hdmf_p"
                  placeholder=" "
                  v-bind:class= "names == null ? '' : hdmfPremium(names.hdmf_p)"
                  label= "HDMF Premium"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg3 md6 xs12 style="padding: 5px;">
                  <p style="margin-top:20px">Total Benefits:</p>
              </v-flex>
              <v-flex lg9 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "total_benefits"
                  placeholder=" "
                  label= "Amount"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            
          </v-flex>

          <v-flex lg6 md6 xs12>
            <h3 class="row border">Deduction</h3>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "no_of_absenses"
                  label= "No. of Absent"
                  placeholder="0"
                  id= "testing"
                />
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "absences"
                  placeholder=" "
                  label= "Amount"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex style= "padding: 5px;margin-top:-20px">
                <b style= "color:white">.</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "num_halfday"
                  type="number"
                  label= "No. of Halfdays"
                  placeholder="0"
                  id= "testing"
                />
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "halfdays"
                  placeholder=" "
                  label= "Amount"
                  id= "testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex style="padding: 5px;margin-top:-20px">
                <b style="color:white">.</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="num_lates"
                  type="number"
                  label="No. of Late"
                  placeholder="0"
                  id="testing"
                />
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="lates"
                  placeholder=" "
                  label="Amount"
                  id="testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg12 md12 xs12>
                <b>Employee Contributions</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="sss"
                  placeholder=" "
                  v-bind:class="names == null ? '' : ssSystem(names.sss)"
                  label="SSS Contribution"
                  id="testing"
                  :disabled="true"
                />
              </v-flex>
          
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="pag_ibig"
                  placeholder=" "
                  v-bind:class="names == null ? '' : pagIbig(names.pag_ibig)"
                  label="Philhealth"
                  id="testing"
                  :disabled="true"
                />
              </v-flex>

              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="hdmf"
                  placeholder=" "
                  v-bind:class="names == null ? '' : hdmfContribution(names.hdmf)"
                  label="HDMF Contribution"
                  id="testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="ca"
                  label="Cash Advance"
                  type="number"
                  placeholder="0"
                  id="testing"
                />
              </v-flex>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="ca"
                  placeholder=" "
                  label="Amount"
                  id="testing"
                  :disabled="true"
                />
              </v-flex>
            </v-layout>
          </v-flex>

        </v-layout>
        
        <v-layout row wrap style="text-align:center">
          <v-flex lg4 md4 xs12>
            <v-layout class="border" style="border:1px solid gray">
              <v-flex lg4>
                <h3>Earnings:</h3>
              </v-flex>
              <v-flex lg8>
                <p style="margin-left:100px; font-size:15px;margin-top:5px;margin-bottom:3px;">{{total_earnings}}</p>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg4 md4 xs12>
            <v-layout class="border" style="border:1px solid gray">
              <v-flex lg6>
                <h3>Total Deductions:</h3>
              </v-flex>
              <v-flex lg6>
                <p style="margin-left:100px; font-size:15px;margin-top:5px;margin-bottom:3px;">{{totalDeduction}}</p>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg4 md4 xs12>
            <v-layout class="border" style="border:1px solid gray">
              <v-flex lg6>
                <h3>Net Pay:</h3>
              </v-flex>
              <v-flex lg6 style="text-align:right">
                <b style="margin-left:50px; font-size:19.5px;">{{netPay}}</b>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-layout>
      <v-layout row justify-end>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn slot="activator" color="primary" dark>Print</v-btn>
        <v-card>

          <v-layout justify-end>
            <v-btn icon dark small color="primary" @click.native="dialog = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-layout>
          <v-divider></v-divider>

    <v-container grid-list-lg style="width:80%;font-size:20px; border: 1px solid">
      <v-layout justify-center>
        <p  style="margin-top:10px;font-size:25px">Infosoft Studio</p><br>
      </v-layout>
      <v-layout class="space" justify-center>
        <p style="margin-top:-20px;font-size:15px">Door 3-6, 2nd floor, FTC Tower, Mt. Apo St. Davao City</p><br>
      </v-layout>
      <v-layout  class="space" justify-center>
        <p style="margin-top:-20px;font-size:15px">Tel. No.: (082) 305-6465</p><br>
      </v-layout>
      <hr>

      <v-layout row wrap>
        
        <v-flex xs12 text-xs-center>
          {{date}}
        </v-flex>
      </v-layout>
              <hr>
      <v-layout row wrap>
        <v-flex xs4>
          Employee Name: <b>{{names == null ? '' : names.name}}</b>
        </v-flex>
        <v-flex xs4>
          SSS: <b>{{sss_number}}</b>
        </v-flex>
        <v-flex xs4>
          PhilHealth: <b>{{philhealth_number}}</b>
        </v-flex>
        <v-flex xs4>
          PAGIBIG: <b>{{pagibig_number}}</b>
        </v-flex>
        <v-flex xs4>
          PAG-IBIG No.: <b>{{emp_num}}</b>
        </v-flex>
        <v-flex xs4>
          Employee Position: <b>{{emp_position}}</b>
        </v-flex>
        <v-flex xs4>
          Department: <b>{{department}}</b>
        </v-flex>

        <v-flex xs4>
          Employee No.: <b>{{emp_num}}</b>
        </v-flex>
        <v-flex xs4>
          Tin: <b>{{tin_number}}</b>
        </v-flex>
        <v-flex xs4>
          Date Hired: <b>{{date_hired}}</b>
        </v-flex>

        <v-flex xs4>
          Cash Card no.: <b>{{cash_no}}</b>
        </v-flex>
        <v-flex xs4>
          Working Days: <b>{{working_days}}</b>
        </v-flex>
        <v-flex xs4>
          Employee Salary: <b>{{totalEmployeeSalary}}</b>
        </v-flex>
        <v-flex xs4>
          Employee Rate Per Day: <b>{{employeeRatePerDay}}</b>
        </v-flex>
      </v-layout>
      <br>
      <hr>
      <br>
      <v-layout row wrap>
        <v-flex xs4>
          <h4>Earnings</h4>
        </v-flex>
        <v-flex xs2>
          <h4 style="text-align:right">Amount</h4>
        </v-flex>
        <v-flex xs4>
          <h4>Deductions</h4>
        </v-flex>
        <v-flex xs2>
          <h4 style="text-align:right">Amount</h4>
        </v-flex>
      </v-layout>

      <hr>

      <v-layout row wrap>
        <v-flex xs2>
          Overtime
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_ot}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{overtime_pay}}
        </v-flex>
        <v-flex xs2>
          Absences
        </v-flex>
        <v-flex xs1>
          days
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{no_of_absenses}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{totalAbsences}} 
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
          Regular Holidays
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{reg_hour}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{regular_holidays_pay}}
        </v-flex>
        <v-flex xs2>
          Half days
        </v-flex>
        <v-flex xs1>
          no.
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_halfday}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{halfdays}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
        </v-flex>
        <v-flex xs1>
          OT hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{reg_ot}}
        </v-flex>
        <v-flex xs2 text-xs-right>
        </v-flex>
        <v-flex xs2>
          Late
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_lates}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{lates}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
          Special Holidays
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{sp_hour}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{special_holiday_pay}}
        </v-flex>
        <v-flex xs4>
          Cash Advance
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{ca}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
        </v-flex>
        <v-flex xs1>
          OT hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{sp_ot}}
        </v-flex>
        <v-flex xs2 text-xs-right>
        </v-flex>
        <v-flex xs4>
          SSS Contribution
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.sss1 == null ? this.sss : this.sss1}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs4>
          SSS Premium
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.sss_pr == null ? this.sss_p : this.sss_pr}}
        </v-flex>
        <v-flex xs4>
          Pag-ibig Contribution
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.pag_ibig1 == null ? this.pag_ibig : this.pag_ibig1}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs4>
         Philhealth
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.phil_health1 == null ? this.phil_health : this.phil_health1}}
        </v-flex>
        <v-flex xs4>
          HDMF Contribution
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.hdmf1 == null ? this.hdmf : this.hdmf1}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs4>
         HDMF Premium
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.hdmf_pr == null ? this.hdmf_p : this.hdmf_pr}}
        </v-flex>
        <v-flex xs4 text-xs-right>
          <h4>Total Deduction</h4>
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{totalDeduction}}
        </v-flex>
      </v-layout>
      <hr>
      <v-layout row wrap>
        <v-flex xs2>
         <h4>Total Benefits</h4>
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{total_benefits}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          <h4>Total Earnings</h4>
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{total_earnings}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          <h3>Net Pay</h3>
        </v-flex>
        <v-flex xs2 text-xs-right>
          <b style="font-size: 28px;">{{netPay}}</b>
        </v-flex>
      </v-layout>
      <hr>
      <v-layout>
        <v-flex xs12>
           I hereby declare that I have reviewed this payroll and I don't have any questions or further clarifications.
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6>
          <b>Prepared By:</b>
        </v-flex>
        <v-flex xs6>
          <b>Approved By:</b>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6>
        </v-flex>
        <v-flex xs6>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6>
          <b>Rachel Ann G. Navarro</b><br>
          Administrator
        </v-flex>
        <v-flex xs6>
          <b>Nitish G. Khemani</b><br>
          Manager / Chief Technology Officer
        </v-flex>
      </v-layout>
    </v-container>

      
        </v-card>
      </v-dialog>

    </v-layout>
  </v-container>
</template>
<script>
/* eslint-disable */
export default {
  data: () => ({
    event: false,
    dialog: false,
    notifications: false,
    sound: true,
    working_days: 0,
    widgets: false,
    employee_salary: null,
    employee_salary_model: null,
    no_of_absenses: 0,
    num_lates: null,
    num_halfday: null,
    names: null,
    ca: null,
    num_ot: null,
    sss: null,
    sss1: null,
    date: new Date().toDateString(),
    pag_ibig: null,
    pag_ibig1: null,
    pagibig_number: null,
    sss_number: null,
    philhealth_number: null,
    emp_position: null,
    department: null,
    emp_num: null,
    tin_number: null,
    date_hired: null,
    cash_no: null,
    employee_working_days: null,
    hdmf: null,
    hdmf1: null,
    sss_pr: null,
    sss_p: null,
    phil_health: null,
    phil_health1: null,
    hdmf_p: null,
    hdmf_pr: null,
    reg_hour: null,
    reg_ot: null,
    sp_hour: null,
    sp_ot: null,
    employee_rate_per_day: null,
    emp_name: [
      {
        name: 'Alma Joy Guyo',
        salary: 6000,
        emp_num: '',
        date_hired: 'July 26, 2018',
        emp_position: 'Assisstant Secretary',
        department: 'Software Dept',
        employee_rate_per_day: 545.45,
        sss_number: '09-4137295-2',
        philhealth_number: '16-025815792-0',
        pagibig_number: '9182-6249-0522',
        tin_number: '717-164-655',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'Angelica O. Mapaa',
        salary: 4000,
        emp_num: '',
        date_hired: 'September 19, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 363.63,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Candy Gimenez',
        salary: 1400,
        emp_num: '',
        date_hired: 'July 2018',
        emp_position: 'Cleaner',
        department: 'Software Dept',
        employee_rate_per_day: 233.33,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Charmaine Joy Rosatace',
        salary: 6000,
        emp_num: '',
        date_hired: 'February 9, 2018',
        emp_position: 'Front End Web Developer',
        department: 'Software Dept',
        employee_rate_per_day: 545.45,
        sss_number: '34-6880429-8',
        philhealth_number: '16-251428043-6',
        pagibig_number: '1212-0328-3943',
        tin_number: '388-546-970-000',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'Chermaine M. Turtur',
        salary: 4000,
        emp_num: '',
        date_hired: 'October 5, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 363.63,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Christian Jake T. Peroy',
        salary: 4000,
        emp_num: '',
        date_hired: 'October 5, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 363.63,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Jeffrey Son Delejencia',
        salary: 7000,
        emp_num: '',
        date_hired: 'October 1, 2018',
        emp_position: 'Back End Web Developer',
        department: 'Software Dept',
        employee_rate_per_day: 636.36,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Joseph Owen D. Jumawan',
        salary: 4000,
        emp_num: '',
        date_hired: 'Nov. 16, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 363.63,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Jason',
        salary: 4000,
        emp_num: '',
        date_hired: 'October 5, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 363.63,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Kent Fuenconcillo',
        salary: 12500,
        emp_num: '---',
        date_hired: 'May 12, 2017',
        emp_position: 'Jr. Full Stack Web Developer',
        department: 'Software Dept',
        employee_rate_per_day: 1136.36,
        sss_number: '09-4314302-4',
        philhealth_number: '---',
        pagibig_number: '13-6773412-7',
        tin_number: '--',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'May Grace Acosta',
        salary: 5000,
        emp_num: '',
        date_hired: 'Nov. 15, 2018',
        emp_position: 'Assisstant Secretary',
        department: 'Software Dept',
        employee_rate_per_day: 454.54,
        sss_number: ' ',
        philhealth_number: ' ',
        pagibig_number: ' ',
        tin_number: '',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Mc Monde Meliton',
        salary: 7500,
        emp_num: '---',
        date_hired: 'March 6, 2018',
        emp_position: 'Back End Web Developer',
        department: 'Software Dept',
        employee_rate_per_day: 681.81,
        sss_number: '09-3673092-3',
        philhealth_number: '---',
        pagibig_number: '1211-0321-5732',
        tin_number: '440-819-094-000',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'Merasol S. Sencil',
        salary: 4000,
        emp_num: '',
        date_hired: 'September 19, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 363.63,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Mikaela Cornejo',
        salary: 7000,
        emp_num: '',
        date_hired: 'July 16, 2018',
        emp_position: 'Front End Web Developer',
        department: 'Software Dept',
        employee_rate_per_day: 636.36,
        sss_number: '09-4080214-8',
        philhealth_number: '---',
        pagibig_number: '1211-7055-4071',
        tin_number: '329-079-364',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'Minerio Pechon Magsagin',
        salary: 3905,
        emp_num: '',
        date_hired: 'September 3, 2018',
        emp_position: 'Consultant',
        department: 'Software Dept',
        employee_rate_per_day: 355,
        sss_number: '09-1447133-0',
        philhealth_number: '---',
        pagibig_number: '0701-268506-09',
        tin_number: '157-583-127',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'Rachel Ann G. Navarro',
        salary: 6000,
        emp_num: '---',
        date_hired: 'May 28, 2018',
        emp_position: 'Executive Assisstant',
        department: 'Software Dept',
        employee_rate_per_day: 545.45,
        sss_number: '---',
        philhealth_number: '16-025550586-3',
        pagibig_number: '',
        tin_number: '478-195-454-000',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      {
        name: 'Sarah Mae Tecson',
        salary: 7000,
        emp_num: '',
        date_hired: 'August, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 636.36,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      },
      {
        name: 'Stacie Lois F. Romero',
        salary: 7000,
        emp_num: '',
        date_hired: 'August, 2018',
        emp_position: 'Customer Service Representative(CSR)',
        department: 'Call Center Dept',
        employee_rate_per_day: 636.36,
        sss_number: '---',
        philhealth_number: '---',
        pagibig_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 0,
        sss_p: 0,
        pag_ibig: 0,
        hdmf: 0,
        phil_health: 0,
        hdmf_p: 0
      }
    ]
  }),
  methods: {
    overtimePay: function (data) {
      this.num_ot = data
    },
    value: function (data) {
      this.employee_salary_model = data
    },
     dailyR: function (data) {
      this.employee_working_days = data
    },
    empNum: function (data) {
      this.emp_num = data
    },
    hired: function (data) {
      this.date_hired = data
    },
    dept: function (data) {
      this.department = data
    },
    tinNum: function (data) {
      this.tin_number = data
    },
    cashNum: function (data) {
      this.cash_no = data
    },
    sssNum: function (data) {
      this.sss_number = data
    },
    philhealthNum: function (data) {
      this.philhealth_number = data
    },
    pagibigNum: function (data) {
      this.pagibig_number = data
    },
    empPosition: function (data) {
      this.emp_position = data
    },
    sssPremium: function (data) {
      this.sss_p = data
    },
    ssSystem: function (data) {
      this.sss = data
    },
    philhealth: function (data) {
      this.phil_health = data
    },
    pagIbig: function (data) {
      this.pag_ibig = data
    },
    hdmfPremium: function (data) {
      this.hdmf_p = data
    },
    hdmfContribution: function (data) {
      this.hdmf = data
    },
    update (payload) {
      this.event = payload
    }
  },
  computed: {
    employeeRatePerDay: function () {
      return (this.employee_salary_model * 1).toFixed(2)
    },
    totalEmployeeSalary: function () {
      return Math.round(this.employee_salary_model * this.working_days)
    },
    totalDeduction () {
      let calculation = this.ca * 1
      let deduc = ((this.sss1 == null ? this.sss : this.sss1) * 1) + ((this.pag_ibig1 == null ? this.pag_ibig : this.pag_ibig1) * 1) + ((this.hdmf1 == null ? this.hdmf : this.hdmf1) * 1)
      let deduction = (this.absences + this.lates + this.halfdays + calculation + deduc)
      return (Math.round(deduction * 100) / 100)
    },
    total_earnings: function () {
      return this.overtime_pay + this.regular_holidays_pay + this.special_holiday_pay
    },
    special_holiday_pay () {
      return Math.round((this.sp_hour * (this.employee_salary_model / 8))  + (this.sp_ot * this.overtime_pay))
    },
    regular_holidays_pay () {
      return Math.round((this.reg_hour * (this.employee_salary_model / 8))  + (this.reg_ot * this.overtime_pay))
    },
    total_benefits () {
      let calculation = ((this.sss_pr == null ? this.sss_p : this.sss_pr) * 1) + ((this.phil_health1 == null ? this.phil_health : this.phil_health1) * 1) + ((this.hdmf_pr == null ? this.hdmf_p : this.hdmf_pr) * 1)
      return (Math.round(calculation * 100) / 100)
    },
    overtime_pay () {
      return Math.round((((this.employee_salary_model / 8) * this.num_ot) * 1.25))
    },
    halfdays () {
      let calculation = ((this.employee_salary_model == null ? this.totalEmployeeSalary : this.employee_salary_model) / 11.5) / 2
      let half = (this.num_halfday * calculation)
      return (Math.round(half * 100) / 100)
    },
    netPay () {
      return (((this.totalEmployeeSalary + this.total_earnings) - this.totalDeduction) * 1).toFixed(2)
    },
    workRate () {
      let calculation = ((this.employee_salary_model == null ? this.totalEmployeeSalary : this.employee_salary_model) / 11)
      return(Math.round(calculation * 100) / 100)
    },
    absences () {
      return this.no_of_absenses * this.employee_salary_model
    },
    totalAbsences () {
      return (this.absences * 1).toFixed(2)
    },
    lates () {
      let calculation = ((this.employee_salary_model == null ? this.totalEmployeeSalary : this.employee_salary_model) / 11.5) / 8
      let late = (this.num_lates * calculation)
      return (Math.round(late * 100) / 100)
    }
  }
}
</script>
<style scoped>
.space {
  margin-top:-20px;
}
h1, h2 {
  font-weight: normal;
}
h3 {
  font-weight: bold;
}
.border {
  padding: 5px;
  /* margin-top: -20px; */
  background-color: transparent ;
  /* text-align:right */
}
.border1{
    padding: 5px;
  /* margin-top: -20px; */
  background-color: #B39DDB;
  /* text-align:right */
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.avatar-holder {
  margin-top: 20px;
}

</style>