<template>
  <v-container fluid v-show="value == true">
    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        > 
          Create contact
        </v-card-title>
         <v-stepper v-model="e2">
        <v-stepper-header>
          <v-stepper-step :complete="e2 > 1" step="1"  @click.native="e2 = 1">Step 1</v-stepper-step>
          <v-stepper-step :complete="e2 > 2" step="2"  @click.native="e2 = 2">Step 2</v-stepper-step>
          <v-stepper-step step="3"  @click.native="e2 = 3">Step 3</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
            <v-stepper-content step="1">
              <v-card color="grey lighten-3" class="mb-5" height="440px">
                  <v-card-title>
                    <span class="headline">Employee Info</span>
                  </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12>
                            <v-text-field label="Full Name"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="SSS No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Department"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Employee No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Tin No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Date Hired"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Cash Card No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Working Days"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Employee Salary"></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  </v-card>
                 
              <v-btn color="primary" @click.native="e2 = 2">Continue</v-btn>
              <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
            </v-stepper-content>
          <v-stepper-content step="2">
            <v-card color="grey lighten-3" class="mb-5" height="760px">        <v-card-title>
              <span class="headline">Earnings</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <v-text-field label="No. Overtime Hours"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field label="Amount"></v-text-field>
                  </v-flex>
                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Regular Holiday</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Overtime Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                      
                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Speacial Holiday</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Overtime Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Employer Contribution</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="SSS Premium"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="philConhealth"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="HDMF Premium"></v-text-field>
                      </v-flex>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Total Benefits</span>
                    </v-card-title>
                      <v-flex xs12>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
          <v-btn color="primary" @click.native="e2 = 3">Continue</v-btn>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          </v-stepper-content>
          <v-stepper-content step="3">
              <v-card color="grey lighten-3" class="mb-5" height="850px">
                <v-card-title>
                  <span class="headline">Deduction</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field label="No. Of Absent"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="No. Of Holidays" ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="No. of Late"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                      <v-flex lg12>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Employee Contribution</span>
                        </v-card-title>
                      </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="SSS Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Philhealth Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="HDMF Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Cash Advance" ></v-text-field>
                          </v-flex>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Total Earnings:</span>
                        </v-card-title>
                          <v-flex xs12>
                            <v-text-field label="Amount"></v-text-field>
                          </v-flex>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Total Deductions:</span>
                        </v-card-title>
                          <v-flex xs12>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            <v-btn color="primary">Save</v-btn>
            <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      </v-card>
    </v-dialog>
  </v-container>
</template>
    <script>
  export default {
    data: () => ({
      value: false,
      dialog: false,
      e2: 0
    }),
    methods: {
      show () {
        this.dialog = true
      }
    }
  }
</script>