<template>
  <v-container>
  <timeline v-for="(item, index) in items" :key="index">
    <timeline-title>
      <img
            src="https://bikeexperiencemallorca.com/img/home/ventajas-v2/ventaja-disponibles.png
"
           style="width: 65px; height: 43px; margin-left: -15px;"
            />
          </div>
      <div style="font-size:25px;margin-left: 10px;">{{ item.years }}</div>
    </timeline-title>
        <timeline-item v-for = "(item, index) in item.messages" :key = "index">
          <img src="https://image.freepik.com/free-icon/calendar-interface-symbol-tool_318-58214.jpg
"
         slot = "others"
         style="width: 25px; height: 25px; margin-top: -8px;"
          />
          <router-link :to = "item.go" style = "text-decoration: none">{{item.name}}</router-link>
          <div>
            {{item.message}}
          </div>
           
          <v-layout row wrap>
          <v-avatar v-for="(items,index1) in item.contributors1" :key="index1" style="margin:6px;" size="38" > 
              <img :src="items.image" >
          </v-avatar>
          <v-avatar v-for="(items,index2) in item.contributors2" :key="index2" style="margin:6px" size="38" > 
              <img :src="items.image">
          </v-avatar>
          <v-flex xs2 sm1 md1 lg1 v-for="(items,index3) in item.contributors3" :key="index3" >
          <v-avatar style="margin:6px" size="38" class="mx-2"> 
              <img :src="items.image">
          </v-avatar>
          <v-btn
              v-if="index3 === 3 "
              color="green"
              dark
              small
              absolute
              fab
              @click="depreciate()"
              class="mt-1"
              style="margin-left:8%"
            >
              <v-icon class="pt-1 mt-1">minimize</v-icon>
            </v-btn>
            <v-btn
              v-if="index3 === 2 "
              color="blue"
              dark
              small
              absolute
              fab
              class="mt-1"
              style="margin-left:-8px"
              @click="expand()"
              >
              <v-icon class="pt-1 mt-3">add</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </timeline-item>
    </timeline>
</v-container> 
</template>
 
<script>
/* eslint-disable */
import {Timeline, TimelineItem, TimelineTitle} from 'vue-cute-timeline'
export default{

 components: {
Timeline,
TimelineItem,
TimelineTitle
 },
 data: () => ({
   dialog: false,
   show: false,
   items: [
     {
       years: '2018',
       messages: [
         {
           name: 'July - October',
           message: '"We Created the Contributors"',
           go: '/pictures/Thirdbatch',
             contributors1: [
            {  image: require('@/assets/z.jpg') },
            {  image: require('@/assets/jm.jpg') },
            ]
         },
         {
           name: 'June - July',
           message: '"We Created the Dasboard, Employees and Calendar"',
             go: '/pictures/Secondbatch',
             contributors2: [
          {  image: require('@/assets/shaina.png') },
          {  image: require('@/assets/adrian.jpg') },
          {  image: require('@/assets/ira.jpg') }
          ]
         },

         {
           name: 'June - July',
           message: '"We Created the Payroll"',
           go: '/pictures/Firstbatch',
           contributors3: [
          {  image: require('@/assets/1.jpg') },
          {  image: require('@/assets/2.jpg') },
          {  image: require('@/assets/3.jpg') }
          ]
         },
         ]
     },
     {
       years: '2017'
     }
   ],
 }),
 methods: {
    expand: function () {
        this.items[0].messages[2].contributors3.push(
          {  image: require('@/assets/4.jpg') },
          {  image: require('@/assets/5.jpg') }
          )
        },
    depreciate: function () {
        this.items[0].messages[2].contributors3.pop(
          )
        }
    }
} 

</script>