
<template>
  <v-container fluid grid-list-md>
    <h1>Employees</h1>
    <v-layout align-right>
    <v-flex lg10>
      <v-select
        :items="profiles"
        v-model="selectedData"
        label="Look for an employee..."
        item-text="name"
        item-value="name"
        max-height="300"
        
        clearable
        autocomplete
      >
        <template slot="item" slot-scope="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item" class="searchBar"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-avatar>
              <img :src="data.item.image">
            </v-list-tile-avatar>
             <a :href="data.item.go">
            <v-list-tile-content>
              <v-list-tile-title v-html="data.item.name" class="searchBar"></v-list-tile-title>
            </v-list-tile-content>
          </a>
          </template>
        </template>
      </v-select>
    </v-flex>
      <v-flex>
    <v-btn slot="activator" color="light-green" large @click.stop="dialog = !dialog" dark class="mb-2" depressed>Add Employee</v-btn>
    </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Register New Employee
        </v-card-title>
         <v-stepper v-model="e1">
           
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1"  @click.native="e1 = 1">Step 1</v-stepper-step>
          <v-stepper-step :complete="e1 > 2" step="2"  @click.native="e1 = 2">Step 2</v-stepper-step>
          <v-stepper-step step="3"  @click.native="e1 = 3">Step 3</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>

            <v-stepper-content step="1">
              <v-card color="grey lighten-3" class="mb-5" height="440px">
                  <v-card-title>
                    <span class="headline">Employee Information</span>
                  </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12>
                            <v-text-field v-model="editedItem.name" label="Full Name"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.sss_num" label="SSS No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.dept" label="Department"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.emp_id" label="Employee No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.tin" label="Tin No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.hired_on" label="Date Hired"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.cc_num" label="Cash Card No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.w_days" label="Working Days"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.salary" label="Employee Salary"></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  </v-card>
                 
              <v-btn color="primary" @click.native="e1 = 2">Continue</v-btn>
              <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
            </v-stepper-content>

          <v-stepper-content step="2">
            <v-card color="grey lighten-3" class="mb-5" height="760px">        <v-card-title>
              <span class="headline">Earnings</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <v-text-field label="No. Overtime Hours"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field label="Amount"></v-text-field>
                  </v-flex>

                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Regular Holiday</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Overtime Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                      
                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Special Holiday</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Overtime Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>

                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Employer Contribution</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.sss_p" label="SSS Premium"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.philhealth" label="PhilHealth"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.hdmf_p" label="HDMF Premium"></v-text-field>
                      </v-flex>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Total Benefits</span>
                    </v-card-title>
                      <v-flex xs12>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 3">Continue</v-btn>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
              <v-card color="grey lighten-3" class="mb-5" height="850px">
                <v-card-title>
                  <span class="headline">Deduction</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field label="No. Of Absent"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="No. Of Holidays" ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="No. of Late"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>

                      <v-flex lg12>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Employee Contribution</span>
                        </v-card-title>
                      </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="SSS Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="PhilHealth Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="HDMF Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Cash Advance" ></v-text-field>
                          </v-flex>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Total Earnings:</span>
                        </v-card-title>
                          <v-flex xs12>
                            <v-text-field label="Amount"></v-text-field>
                          </v-flex>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Total Deductions:</span>
                        </v-card-title>
                          <v-flex xs12>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            <v-btn color="primary" @click.native="save">Save</v-btn>
            <v-btn color="primary" flat @click.native="close">Cancel</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      </v-card>
    </v-dialog>
    <v-data-iterator 
      hover
      :items="employee"
      hide-actions
      content-tag="v-layout"
      row
      wrap
    >
      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        md4
        lg3
      >
      <v-card>


          <v-flex>
           <!-- <router-link to="/employeeinfo" class="empCard">  -->
          <a :href="props.item.route">
          <v-card-media
          :src="props.item.src"
           height="250px"
          >
          
          </v-card-media>
        </a>
          <!-- </router-link> -->
          <v-list dense class="empCard">
              <v-card-title> <h4> {{ props.item.name }} </h4> <v-spacer></v-spacer>
              <v-icon :color="props.item.buttonclass" small> {{ props.item.icon }}</v-icon></v-card-title>
              <v-divider></v-divider>
            <v-list-content>
              <v-list-tile>
              <v-list-tile-title>Position:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.position }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title>Department:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.dept }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title>ID:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.emp_id }}</v-list-tile-title>
            </v-list-tile>
            </v-list-content>
          
          <v-btn @click="editItem(props.item)">
            update
          </v-btn>
          <v-btn color="grey" flat @click="deleteItem(props.item)">
            archive
          </v-btn>
          </v-list>
        </v-flex>
      </v-card>
              </v-flex>
    </v-data-iterator>
  </v-container>
</template>

<script>
/* eslint-disable */
export default {
  data: () => ({
    selectedData: null,
    e1: false,
    dialog: false,
    buttonclass: '',
    headers: [],
    employee: [],
    editedIndex: -1,
    profiles: [
      {
        id: 1,
        name: 'Nitish Khemani',
        image: require('@/assets/nitish.png'),
        go: "/profiles/nitish"
      },
      {
        id: 2,
        name: 'Rachel Anne Navarro',
        image: require('@/assets/anne.png'),
        go: "/profiles/anne"
      },
      {
        id: 3,
        name: 'Charmane Joy Rosatace',
        image: require('@/assets/joy.png'),
        go: "/profiles/joy"
      },
      {
        id: 4,
        name: 'Kristine Marie Godoy',
        image: require('@/assets/tine.png'),
        go: "/profiles/tine"
      },
      {
        id: 5,
        name: 'Guy Romelle Magayano',
        image: require('@/assets/guy.png'),
        go: "/profiles/guy"
      },
      {
        id: 6,
        name: 'Kent Fueconcillo',
        image: require('@/assets/kent.png'),
        go: "/profiles/kent"
      },
      {
        id: 7,
        name: 'Mikaela Cornejo',
        image: require('@/assets/mikaela.png'),
        go: "/profiles/mikaela"
      },
       {
        id: 8,
        name: 'Mc Monde Meliton',
        image: require('@/assets/mc.png'),
        go: "/profiles/mc"
      },
        {
        id: 9,
        name: 'Alma Joy Guyo',
        image: require('@/assets/alma.jpeg'),
        go: "/profiles/alma"
      },
       {
        id: 10,
        name: 'Jeffrey Son Delejencia',
        image: require('@/assets/jeff.png'),
        go: "/profiles/jeffrey"
      },
        {
        id: 11,
        name: 'Minerio Pechon Magsagin',
        image: require('@/assets/min.png'),
        go: "/profiles/minerio"
      }
    ],
    editedItem: {
      name: '',
      dept: '',
      emp_id: '',
      position: ''
    },
    defaultItem: {
      name: " ",
      dept: " ",
      emp_id: " ",
      position: " "
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Register Employee' : 'Edit Employee'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      this.employee = [
        {
          route: "/profiles/nitish",
          buttonclass: "light-green",
          icon: 'mdi-circle',
          src: require('@/assets/nitish.png'),
          name: 'Nitish Khemani',
          position: 'CEO/Founder',
          sss_num: '--- --- ---',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00001',
          tin: '--- --- ---',
          hired_on: '--- --- ---',
          cc_num: '--- --- ---',
          w_days: '--- --- ---',
          salary: '20000',
          sss: '',
          sss_p: '581.30',
          philhealth: '275.00',
          hdmf: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/guy",
          buttonclass: "red",
          icon: 'mdi-circle',
          src: require('@/assets/guy.png'),
          name: 'Guy Romelle Magayano',
          position: 'Website Developer',
          sss_num: '34-5437282-8',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00002',
          tin: '458-986-320',
          hired_on: 'May 5, 2017',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '12500',
          sss: '65.40',
          sss_p: '190.75',
          philhealth: '72.1875',
          hdmf: '45',
          hdmf_p: '105'
        },
        {
          route: "/profiles/anne",
          buttonclass: "grey",
          icon: 'mdi-circle',
          src: require('@/assets/anne.png'),
          name: 'Rachel Ann G. Navarro',
          position: 'Assistant',
          sss_num: '--- --- ---',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00003',
          tin: '478-195-454-000',
          hired_on: 'May 28, 2018',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '6000',
          sss: '',
          sss_p: '',
          philhealth: '',
          hdmf: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/kent",
          buttonclass: "light-green",
          icon: 'mdi-circle',
          src: require('@/assets/kent.png'),
          name: 'Kent Fuenconcillo',
          position: 'Full Stack Developer',
          sss_num: '09-4314302-4',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00005',
          tin: '--- --- ---',
          hired_on: 'May 12, 2017',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '7500',
          sss: '65.4',
          sss_p: '152.6',
          philhealth: '57.75',
          hdmf: '36',
          hdmf_p: '84'
        },
        {
          route: "/profiles/mc",
          buttonclass: "grey",
          icon: 'mdi-circle',
          src: require('@/assets/mc.png'),
          name: 'Mc Monde Meliton',
          position: 'Web Developer',
          sss_num: '--- --- ---',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00006',
          tin: '--- --- ---',
          hired_on: 'March 6, 2018',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '7500',
          sss_p: '',
          philhealth: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/joy",
          buttonclass: "light-green",
          icon: 'mdi-circle',
          src: require('@/assets/joy.png'),
          name: 'Charmane Joy Rostace',
          position: 'Front-end Web Developer',
          sss_num: '34-6880429-8',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00007',
          tin: '388-546-970-000',
          hired_on: 'February 9, 2018',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '6000',
          sss_p: '',
          philhealth: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/mikaela",
          buttonclass: "red",
          icon: 'mdi-circle',
          src: require('@/assets/mikaela.png'),
          name: 'Mikaela Cornejo',
          position: 'Web Developer',
          sss_num: '09-4080214-8',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00008',
          tin: '1211-7055-071',
          hired_on: 'July 16, 2017',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '6000',
          sss_p: '',
          philhealth: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/alma",
          buttonclass: "green",
          icon: 'mdi-circle',
          src: require('@/assets/alma.jpeg'),
          name: 'Alma Joy',
          position: 'Assistant',
          sss_num: '--- --- ---',
          dept: 'Info Tech Dept.',
          emp_id: '458-986-320',
          tin: '--- --- ---',
          hired_on: 'July 26, 2018',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '5000',
          sss_p: '',
          philhealth: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/jeffrey",
          buttonclass: "red",
          icon: 'mdi-circle',
          src: require('@/assets/jeff.png'),
          name: 'Jeffrey Son Delejencia',
          position: 'Back End Web Developer',
          sss_num: '09-4080214-8',
          dept: 'Info Tech Dept.',
          emp_id: '2018-00008',
          tin: '1211-7055-071',
          hired_on: 'September 28, 2018',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '6000',
          sss_p: '',
          philhealth: '',
          hdmf_p: ''
        },
        {
          route: "/profiles/minerio",
          buttonclass: "green",
          icon: 'mdi-circle',
          src: require('@/assets/min.png'),
          name: 'Minerio Pechon Magsagin',
          position: 'Consultant',
          sss_num: '--- --- ---',
          dept: 'Info Tech Dept.',
          emp_id: '458-986-320',
          tin: '--- --- ---',
          hired_on: 'September 3, 2018',
          cc_num: '--- --- ---',
          w_days: '11',
          salary: '5000',
          sss_p: '',
          philhealth: '',
          hdmf_p: ''
        }
      ]
    },

    editItem (item) {
      this.editedIndex = this.employee.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.employee.indexOf(item)
      confirm('Are you sure you want to archive this employee?') &&
        this.employee.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.employee[this.editedIndex], this.editedItem)
      } else {
        this.employee.push(this.editedItem)
      }
      this.close()
    }
  }
}
</script>

<style>
.empCard, .searchBar, a{
  color: black;
  text-decoration: none;
}
</style>
