<template>
  <v-app>
    <v-layout row wrap>
     <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app>
      <v-list dense>
          <v-list-tile
          v-if 
          :key="" 
          @click="event()"
          >
            <v-list-tile-action>
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/" tag="button">
                Dashboard
              </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile >
            <v-list-tile-action>
              <v-icon>timeline</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/reports" tag="button">
                Reports
              </router-link>
              </v-list-tile-title>
        </v-list-tile>
          <v-list-tile>
              <v-list-tile-action>
                <v-icon>person</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/employees" tag="button">
                Employees
                </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>money</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/payroll" tag="button">
                Payroll
              </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>person_add</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
              <router-link class="link" to="/recruitment" tag="button">
                Recruitment
              </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile >
            <v-list-tile-action>
              <v-icon>event</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/calendar" tag="button">
                Calendar
              </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile >
            <v-list-tile-action>
              <v-icon>people</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/contributor" tag="button">
                Contributors
              </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>live_help</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/help" tag="button">
                Help
                </router-link>
              </v-list-tile-title>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Infosoft Studio</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-layout row wrap>
  </v-app>
</template>
<script>
import { SLIDE, PAY } from '@/constants/events'
export default {
  data () {
    return {
      date: new Date().getFullYear(),
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Infosoft Payroll'
    }
  },
  methods: {
    event1 () {
      this.$eventHub.$emit(SLIDE, true)
      this.$eventHub.$emit(PAY, false)
    },
    event2 () {
      this.$eventHub.$emit(SLIDE, false)
      this.$eventHub.$emit(PAY, true)
    }
  },
  props: {
    source: String
  },
  name: 'App'
}
</script>


