<template>
  <v-layout row >
    <v-dialog v-model="dialog" persistent max-width="700">
      <v-card>
        <v-card-media
        >
        <img :src="require('@/assets/contri.png')" height="350">
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">Contributors Page</div>
            <span class="grey--text">DMMA College of Southern Philippines</span>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn icon @click="show = !show">
            <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>          
          <v-spacer></v-spacer>
          <router-link :to = "go" style = "text-decoration: none"><v-btn flat @click.native="dialog = false" color="info">Done</v-btn></router-link>
        </v-card-actions>
       <v-slide-y-transition>
          <v-card-text v-show="show">
           <timeline>
            <timeline-title><img src="http://cdn.onlinewebfonts.com/svg/img_534635.png
"
         slot = "others"
         style="width: 30px; height: 30px; margin-top: -8px;"/>Doings</timeline-title>
            <timeline-item  > <img src="https://uxwing.com/wp-content/themes/uxwing/download/02-arrow/direction-arrow-right.png
"
         slot = "others"
         style="width: 16px; height: 16px; margin-top: -8px; margin-left: 5px"
          />The OJT’s of DMMA College of Southern Philippines (DCSP) created this pages.</timeline-item>
            <timeline-item ><img src="https://uxwing.com/wp-content/themes/uxwing/download/02-arrow/direction-arrow-right.png
"
         slot = "others"
         style="width: 16px; height: 16px; margin-top: -8px; margin-left: 5px"/>They created it from the month of July to September.</timeline-item>
          </timeline>
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>/* eslint-disable */
import {Timeline, TimelineItem, TimelineTitle} from 'vue-cute-timeline'
export default {
  components: {
    Timeline,
    TimelineItem,
    TimelineTitle
  },
      data: () => ({
        dialog: true,
        go: '/contributor',
        show: false
    })
  }
</script>